/* The following line can be included in a src/App.scss */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.section-sup {
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
}
.section-sup h1 {
  font-weight: 700;
}
.section-sup p {
  font-size: 1.5rem;
  margin-top: 15px;
}

.section-inf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.ctn-image {
  width: 65%;
  padding: 5px;
  border: 2px solid rgb(75, 72, 72);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}

.ctn-image:hover {
  box-shadow: 2px 2px 5px #969696;
  transform: translateY(-2px);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.img-clicked {
  max-width: 90%;
  max-height: 90%;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .section-sup .ctn-image {
    width: 90%;
  }
  .section-sup h1 {
    font-size: 2.8rem;
  }
  .section-sup p {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .ctn-image {
    width: 70%;
  }
  .section-sup h1 {
    font-size: 2.5rem;
  }
  .section-sup p {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .ctn-image {
    width: 75%;
  }
  .section-sup {
    margin-bottom: 40px;
  }
  .section-sup h1 {
    font-size: 1.8rem;
  }
  .section-sup p {
    font-size: 0.8rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ctn-memotest-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  position: relative;
  width: 100vw;
  height: 100vh;
}
.ctn-memotest-dark button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 53px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.1s ease;
}
.ctn-memotest-dark button:hover {
  border-color: #969696;
  box-shadow: 2px 2px 5px #969696;
  transform: translateY(-2px);
}
.ctn-memotest-dark button img {
  width: 100%;
}

.ctn-memotest-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.ctn-memotest-light button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 53px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.1s ease;
}
.ctn-memotest-light button:hover {
  border-color: #969696;
  box-shadow: 2px 2px 5px #969696;
  transform: translateY(-2px);
}
.ctn-memotest-light button img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .ctn-memotest-light button, .ctn-memotest-dark button {
    width: 62px;
    height: 43px;
  }
}
@media (max-width: 768px) {
  .ctn-memotest-light button, .ctn-memotest-dark button {
    width: 56px;
    height: 37px;
  }
}
@media (max-width: 576px) {
  .ctn-memotest-light button, .ctn-memotest-dark button {
    width: 51px;
    height: 32px;
    position: absolute;
    top: 95%;
    right: 15px;
  }
}/*# sourceMappingURL=App.css.map */